input{
    border-radius: 18px;
}
form
{
    border-radius: 20px;
    padding: 50px;
    border: 5px solid green;
    display: flex;
    flex-direction: column;
}
.formContainer button{
    border-radius: 18px;
    width: fit-content;
    padding: 20px;
}

.formContainer{
display: flex;
justify-content: center;
}